* {
    box-sizing: border-box;
}
.container {
    border: 4px solid gray;
    padding: 24px;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}
.box {
    border:4px solid lightblue;
    margin-bottom: 24px;
}
.box-small {
    height: 50px;
}
.box-wrapper {
    width: 45%;
}
.box-large {
    width: 45%;
}
.box-smaller {
    height: 50px;
    width: 30%;   
}
.smallbox-wrapper {
   display: flex;
   justify-content: space-between;
}